<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" href="user_login.css">
</head>

<body>
    <div class="body">
        <div class="container">
            <form action="./seatselectioncss.html"> <!-- Use 'action' attribute in the form tag -->
                <div class="head">
                    <span>Login</span>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                </div>
                <button type="submit">Login</button>
            </form>
            <div class="form-footer">
                <p>Don't have an account? <a href="./signup.html">Sign up</a></p> <!-- Adjust the anchor tag -->
            </div>
        </div>
    </div>
</body>
</html>